<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>iNet Job Recommendation System - PS</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body>
		<header>
			<nav class="navbar bg-dark justify-content-center header-bar">
				<h1 class="navbar-text">iNetworks Job Recommendation System</h1>
			</nav>
		</header>

		<div class="container margin-3">
			<form action="/" method="post">
				<div class="form-group">
					<label for="exampleInputEmail1">Enter a job title</label>
					<input class="form-control" type="text" name="text" placeholder="Job Title" />
				</div>
				<input class="btn btn-primary" type="submit" value="Make prediction" />
			</form>
		</div>

		<div class="container margin-2">
			{% if results %}
				<h5>You entered: <span style="font-size: 18px; font-weight: 400;">{{ user_input }}</span></h5>
				
				<div class="d-flex justify-content-center">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr class="text-center"	>
								<th scope="col">Suggested titles</th>
							</tr>
						</thead>
						<tbody>
							{% for suggested_title in suggested_titles %}
								<tr>
									<td>{{suggested_title}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<table class="table table-striped">
						<thead class="thead-dark">
							<tr class="text-center">
								<th scope="col">Suggested functions</th>
							</tr>
						</thead>
						<tbody>
							{% for function in results[0]['functions'] %}
								<tr>
									<td>{{ function }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<table class="table table-striped">
						<thead class="thead-dark">
							<tr class="text-center">
								<th scope="col">Suggested industries</th>
							</tr>
						</thead>
						<tbody>
							{% for industry in results[0]['industries'] %}
								<tr>
									<td>{{ industry }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			{% elif error %}
				<div class="d-flex justify-content-center">
					<div class="alert alert-danger text-center">
						<p class="alert-header">The title you entered is invalid. Please enter a valid title.</p>
						<p class="alert-body">For example, 'Data Scientist,' 'Graphics Designer,' or just 'data,' or 'designer'</p> 
					</div>
				</div>
			{% endif %}
		</div>

		<div class="fixed-bottom margin-5">
			<footer class="footer">
				<nav class="navbar navbar-dark bg-dark justify-content-center">
					<h4 class="navbar-text">&copy; iNetworks Job Recommendation System by Pavly Salah Zaki</h4>
				</nav>
			</footer>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
